<div class="center jumbotron">
  <h1>Welcome to the Project1</h1>

  <h2>
    This is the home page for the CSC 517 Project1.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

