<h1>Listing projects</h1>
<% if current_user.admin? %>
<%= link_to 'New Project', new_project_path %>
<% end %>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

  <% @projects.each do |p| %>
      <tr>
        <td><%= p.title %></td>
        <td><%= p.description %></td>
        <td><%= link_to 'Show', project_path(p)%></td>
        <% if current_user.admin? %>
            <td><%= link_to 'Destroy', project_path(p), method: :delete,data:{confirm: 'Are you sure?'}%></td>
        <% end %>
      </tr>
  <% end %>

</table>