<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @story.description %>
</p>

<p>
  <strong>Point:</strong>
  <%= @story.point %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @story.stage %>
</p>
<p>
  <strong>Developer:</strong>
  <%= @story.users.each do |u| %>
    <p>Name:<%= u.name %></p>
    <p>Email:<%= u.email %></p>
<% end %>
</p>
<p>
  <%= link_to 'Back', @stories%>
</p>